[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
asgiref = "==3.2.10"
asn1crypto = "==1.4.0"
certifi = "==2020.6.20"
cffi = "==1.14.1"
cryptography = "==2.9.2"
defusedxml = "==0.6.0"
distlib = "==0.3.1"
dj-database-url = "==0.5.0"
eight = "==0.4.2"
filelock = "==3.0.12"
future = "==0.16.0"
gunicorn = "==20.0.4"
importlib-metadata = "==1.7.0"
lxml = "==4.2.6"
pipenv = "==2020.6.2"
psycopg2 = "==2.8.5"
pycparser = "==2.20"
pysignfe = {file = "https://github.com/thiagopena/PySIGNFe/archive/master.zip"}
python-decouple = "==3.3"
pytz = "==2018.3"
reportlab = "==3.4.0"
signxml = "==2.5.2"
six = "==1.11.0"
sqlparse = "==0.3.1"
virtualenv = "==20.0.30"
virtualenv-clone = "==0.5.4"
zipp = "==3.1.0"
Django = "==3.1"
Geraldo = {file = "https://github.com/thiagopena/geraldo/archive/master.zip"}
Pillow = "==7.2.0"
pyOpenSSL = "==17.5.0"

[requires]
python_version = "3.7"
